<h1>Add Brand</h1>

<form action="/add_brand/" method="post">
  <label for="brand_name">Brand Name</label>
  <input id="brand_name" name="brand_name" type="text">

  <button type="submit" class="btn btn-success">Add Brand</button>
</form>

  <% if @brands.any?() %>
<ul>
  <% @brands.each() do |brand| %>
  <li><a href="/brand/<%= brand.id() %>/"><%= brand.brand_name %></a></li>
  <% end %>
</ul>
<% else %>
  <p>There are currently no brands</p>
<% end %>
